

.resume-container{
  background-color: white;
  color: black;
}

mark {
  background-color: transparent;
  font-weight: 600;
}

.resume-section{
      display: flex;
}


.resume-subsection-bullet{
  white-space: normal;
  display: list-item;
}

.resume-stack{
      display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}


.resume-subsection-grid{
      display: grid;
}







* {
  box-sizing: border-box;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    font: inherit;
    overflow-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
      line-height: 1.5;
          font-family: 'Inter';
}


.chakra-heading{
    font-size: x-large;
    line-height: 1.875rem;
    font-weight: 700;
}

.chakra-separator{
  display: block;
    border-color: var(--chakra-colors-border);
    --separator-thickness: 1px;
    border-style: solid;
    border-top-width: var(--separator-thickness);
}

.chakra-hstack{
  display: flex;
  flex-direction: row;
}